<header class="header">
    <a href="" class="logo">Classy</a>
    <img href="" class="logo" src="">
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a routerLink="/homepage">Home</a></li>
        <li><a routerLink="/product">Products</a></li>
        <li><a routerLink="/collection">Collection</a></li>
        <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </header>